
.maincontainer {
  display: grid;
  grid-template-rows: 50px 1fr;
  height: 100vh;
  background-color: #f3f2ef;
  width:100%;
  
}
.feed-header {
  display: grid;
  align-content: center;
  padding-left: 17px;
  grid-template-columns: 500px 1fr 150px;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  background-color: #ffffff;
}

.feed-main-container {
  display: grid;
  grid-template-columns: 350px 1fr;

}
.feed-left-navigation {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-content: center;
  border-top: 1px solid white;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  background-color: #ffffff;
}
.feed-nav-header {
  width: 100%;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
}
.feed-nav-header:hover{
  cursor: pointer;
}
.feed-profile-img {
  width: 100px;
  height: 100px;
  border: 2px solid rgb(225, 221, 221);
  padding: 3px;
  background-color: white;
  border-radius: 100px;
}
.user-log::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  color: #1a76d2;
}
.user-log:hover {
  cursor: pointer;
}

.searchbar {
  display: flex;
  padding: 2%;
  height: 50%;
  max-width: 100%;
  width: 50%;
}
.searchbtn {
  border: none;
  padding: 1%;
  margin-left: 1%;
  background-color: white;
}
.cardcontainers {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #f3f2ef;
  /* margin-top: 5%; */
}
.feedsearchbar {
  padding: 6px 15px;
  border-radius: 20px;
  border: rgb(128, 128, 128, 0.4) solid 1px;
  /* margin-top: 8px;
  margin-right: 16px;
  margin-bottom: 6px; */
  font-size: 17px;
  width: 100%;
}
.card {
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  margin: 2% 2% 2% 2%;
  text-align: center;
  font-family: arial;
  border-radius: 3px;
  padding: 1%;
  min-width: 300px;
  height: 450px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.statuscontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logged-in {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1%;
}
.logged-out {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-left: 1%;
}
.title {
  color: grey;
  font-size: 18px;
}
.sendofferbutton {
  border: none;
  outline: 0;
  display: inline-block;
  background-color: #1a76d2;
  font-family: "Poppins";
  cursor: pointer;
  width: 50%;
  font-size: 18px;
  padding: 1% 1%;
  border-radius: 3px;
  align-self: center;
  font-size: small;
  font-weight: 100;
  height: 50px;
  transition: 100ms;
}

.sendofferbutton:hover {
  background-color: #1866b4;
  color: white;
}

.sendofferbutton:active {
  background-color: #1866b4;
  color: white;
  scale: 0.9;
}

#smallprofile {
  z-index: 1;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 40px;
  left: 10%;
  border: blue solid 3px;
}
.namecontainer {
  margin-bottom: -20px;
}
.feedimage-container {
  height: 200px;
  border-radius: 18px;
}
#feedimage {
  height: 200px;
  border-radius: 3px;
  width: 250px;
}
.filter-section {
  width: 300px;
}
.feed-filter {
  display: flex;
  flex-direction: column;
}
.feed-filter input {
  font-weight: 100;
  font-size: small;
  padding: 3px;
}
.feed-filter label,
.feed-filter button {
  font-weight: 100;
  font-size: medium;
  padding: 3px;
}
.feed-filter button {
  margin-top: 12px;
  border: none;
  border-radius: 3px;
  background-color: #1a76d2;
  transition: 100ms;
}
.feed-filter button:hover {
  background-color: #1866b4;
  color: white;
}

.feed-filter button:active {
  background-color: #1866b4;
  color: white;
  scale: 0.9;
}

.card p {
  padding: 0;
  margin: 0;
  font-size: medium;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: rgb(255, 255, 255);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(46, 45, 45);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(97, 96, 96);
}
.feed-notification:hover {
  cursor: pointer;
}
.feed-notification-container {
  width:400px;
  max-height: 300px;
  background-color: white;
  border:1px solid gray;
  border-radius: 3px;
  position: absolute;
  z-index: 2;
  top:50px;
  right:120px;
  overflow: auto;
  display: inline-block;
}
.feed-notification-container-close{
  display: none;
}
.feed-notification-container-header{
  width:100%;
  display: flex;
  align-items: center;
  justify-items:center;
  border-bottom: 1px solid gray;
  padding:3px;
}
.feed-notification-container-header h3{
  font-weight: 100;
  font-size: medium;
  padding-top: 10px;
  padding-left:12px;
  color:rgb(92, 78, 0);
}
.feed-mensahe{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: small;
  padding:7px;
  border-bottom: 1px solid gray;
}
.feed-mensahe button{
  border:1px solid white;
  border-radius: 3px;
  background-color: #1a76d2;
  padding:3px;
  font-size: smaller;
}
.logout{
  position: absolute;
  z-index: 6;
  top:40px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding:7px;
  font-size: medium;
}
.logout div:hover{
  text-align: center;
  width:100%;
  background-color: gray;
  color:white;
}
.logout-none{
  display: none;
}
.logout button{
  border:none;
  background-color: white;
  padding:3px;
  color:#dc3545;
}